# MIT License
# Copyright (c) 2021 Ayan Nath

# https://github.com/ayan7744/proxer

# proxer - configuration file
# This file is sourced everytime proxer is run.
# All lines beginning with '#' are treated as comments.

### Connections ###
# SSID is the name of the wifi connection.
# BSSID of an wifi connection can be found using "nmcli device wifi list".
# Host is the address of the proxy server (for example, 192.168.3.10).
# Port is the port number of the proxy server (for example, 3128).
# If a field is not applicable leave it blank.
# List out all the connections as shown below and don't forget to uncomment the lines.

# con[0,SSID]="wifi name"; con[0,Host]="192.168.3.10"; con[0,Port]="3128"; con[0,Username]="myuser"; con[0,Password]="";

# con[1,SSID]="wifi name 2"; con[1,BSSID]="E4:6F:13:4D:64:20"; con[1,Host]="192.168.4.11"; con[1,Port]="8080"; con[1,Username]="foo"; con[1,Password]="bar";

### Options ###
# Change to true to check for BSSIDs if provided.
check_bssid=false
